/* CSS = Cascading Stylesheets */

/*
CSS Selector {
	property: value;
}
*/
body {
	background-image: url(https://www.10wallpaper.com/wallpaper/1920x1080/1110/Design_Vector-Illustration_Design_Desktop_Wallpaper_1920x1080.jpg);
	background-size: cover;
	background-position: center;
}
#interface input {
	display: block;
	margin: 10px auto;
}
.list-group {
	padding: 0;
}
.types ul .list-group-item {
	padding: 3px;
	padding-left: 25px;
	text-align: left;
}
a {
	color: darkblue;
}
#populate, #qList, #letter-sum {
	display: none;
} 

.btn {
	padding: 5px;
}